.*
ebuild/

# Program binaries

a.out
bin/
*.o
owd-euses

# LaTeX/Beamer temporary files

presentation/*/*.pdf
presentation/*.pdf
presentation/*.aux
presentation/*.log
presentation/*.out
presentation/*.fdb_latexmk
presentation/*.fls
presentation/*.nav
presentation/*.snm
presentation/*.toc
presentation/_minted-presentation

presentation/listings/Doxyfile
!presentation/gentoo-horizontal.pdf

